.border{
    border: 1px solid black;
    padding: 1em;
}

body{
    max-width: 60em;
    margin: 0 auto;
}

.haus{
    background: lightblue;
}

.haus h1{
    text-align: center;
}

.haus p{
    text-align: right;
}


.grid_rammi{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}



.titil2{
    font-family: sans-serif;
}

.texti2{
    font-family: sans-serif;
}

.titil3{
    font-family: courier;
}

.texti3{
    font-family: courier;
}

.grid_rammi2{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.georgia_titil{
    font-family: georgia;
}

.trebuchet_titil{
    font-family: 'Trebuchet MS';
}

.trebuchet_text{
    font-family: 'Trebuchet MS';
}

.georgia_text{
    font-family: georgia;
}

.grid_rammi3{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.arialblack_titil{
    font-family: Arial black;
}

.pl_titil{
    font-family: Palatino Linotype;
}

.pl_text{
    font-family: Palatino Linotype;
}

.arialblack_text{
    font-family: Arial Black;
}

.rammi3{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.div2{
    border: 1px solid black;
    padding: 1em;
    padding: 0.7 em;
    padding-top: 1.6 em;
    font-family: cursive;
}

.div2 pre{
    color: maroon;
}


.fyrirsogn{
    font-size: 5em;
    font-family: Impact;
    background: lightblue;
    text-align: center;
}

.midja{
    color: maroon;
    font-style: italic;
}

.fotur{
    background: lightblue;
    padding: 0.20em;
}