 * {
	box-sizing: border-box;
}
body {
	max-width: 60em;
	margin: 0 auto;
}

div{
	display: flex;
	flex-grow: 1;
	justify-content: center;
}

.row{
	display: flex;
	flex-flow: row;
	order: n;
	flex-direction: row-reverse;
}

.col{
	display: flex;
	flex-flow: column;
	flex-direction: column-reverse;
}

footer p {
  text-align: center;
}

.gulur {
	background-color: yellow;
}
.raudur {
	background-color: red; 
}
.graenn {
	background-color: lime;
}
.blar {
	background-color: cyan; 
}
.box {
	display:flex;
	align-items: center;
	font-size: 1.2em;
	height: 5em;
}

