.current {
    color: darkorchid;
}

.content{
      display: grid;
      grid-template-columns: 1fr;
      grid-template-areas: 
      "s"
      "hi"
      "lor"
  }

.stuff{
  display: flex;
  flex-flow: row;
  justify-content: center;
  position: relative;
  padding: 0.5em;
  border: 1px solid navy;
  background: pink;
  z-index: 9999999;
  width: 100%;
}

.stuff a{
  padding: 0em .5em;
  text-align: center;
  grid-area: s;
}

img{
  max-width: 100%;
  height: auto;
}

h1{
  text-align: center;
}

body{
  background: linear-gradient(skyblue,plum,skyblue);
  color: darkslateblue;
}

a{
  text-decoration: none;
  color: white;
  text-align: center;
}

a:hover{
  color: violet;
}

a:active{
  color: purple;
}
p {
  text-align: center;
}


li{
  list-style-type: none;
}

ul{
  text-align: center;
}

ol{
  text-align: center;
  font-style: bold;
}

.hello{
  grid-area: hi;
  text-align: center;
  max-width: 60em;
  margin: 0 auto;
}

.lorem{
  grid-area: lor;
  max-width: 60em;
  margin: 0 auto;
}

.hi{
  text-align: center;
}

@media (min-width:37,5em){
  .content{
      display: grid;
      grid-template-columns: 1fr;
      grid-template-areas: 
      "s"
      "hi"
      "lor"
  }

  a{
    font-size: 125%;
  }
}

  @media (min-width:60em){
    body{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-areas: 
        "s"
        "hi"
        "lor"
    }
    a{
      font-size: 125%;
    }
  }