body{
  color: #f2f1ff;
  width: auto;
	height: auto;
	background: linear-gradient(-45deg, rgb(96, 182, 223), rgb(235, 137, 238),rgb(142, 207, 248), rgb(222, 101, 252));
	background-size: 400% 400%;
	-webkit-animation: Gradient 15s ease infinite;
	-moz-animation: Gradient 15s ease infinite;
  animation: Gradient 15s ease infinite;
  margin: 0;
}



@-webkit-keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

@-moz-keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

@keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

.current {
    color:plum;
}

.icon-home{
  display: block;
  text-indent: -9999px;
  width: 32px;
  height: 23px;
  background: url(/assets/images/icon-home.svg);
  background-size: 32px 23px;
  margin-left: auto;
  margin-right: auto;
}

.icon-gitsvor{
  display: block;
  text-indent: -9999px;
  width: 32px;
  height: 23px;
  background: url(/assets/images/icon-github.svg);
  background-size: 32px 23px;
  margin-left: auto;
  margin-right: auto;
}

.icon-about{
  display: block;
  text-indent: -9999px;
  width: 32px;
  height: 23px;
  background: url(/assets/images/icon-user.svg);
  background-size: 32px 23px;
  margin-left: auto;
  margin-right: auto;
}

.icon-blog{
  display: block;
  text-indent: -9999px;
  width: 32px;
  height: 23px;
  background: url(/assets/images/icon-file.svg);
  background-size: 32px 23px;
  margin-left: auto;
  margin-right: auto;
}

.content{
      display: grid;
      grid-template-columns: 1fr;
      grid-template-areas: 
      "s"
      "hi"
      "lor"
}

input{
  visibility:hidden;
}

label{
  visibility:hidden;
}

.stuff{
  background: pink;
}

.stuff ul{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  padding-left: 0;
}

.stuff li{
  list-style: none;
  display: inline-block;
  width: calc(100% / 6);
  height: 75px;
  text-align: center;
}

.stuff a {
  padding: 0em .5em;
  text-align: center;
  grid-area: s; 
}


img{
  max-width: 100%;
  height: auto;
}

h1{
  text-align: center;
  font-size: 2em;
}

.dogs{
  max-width: 60em;
  margin: 0 auto;
}


a{
  text-decoration: none;
  color: white;
  text-align: center;
}

a:hover{
  color: violet;
}

a:active{
  color: purple;
}
p {
  text-align: center;
}


li{
  list-style-type: none;
}

ul{
  text-align: center;
}

ol{
  text-align: center;
  font-style: bold;
}

.hello{
  grid-area: hi;
  text-align: center;
  max-width: 60em;
  margin: 0 auto;
}

.lorem{
  grid-area: lor;
  max-width: 60em;
  margin: 0 auto;
}

.hi{
  text-align: center;
}

.omg{
  color: violet;
}


.auglysing{
  width: 10em;
  height: auto;
  background: rgba(255, 255, 255, 0.753);
  padding: 1em;
  margin: 1em;
  border-radius: 15px;
  -moz-box-shadow: inset 0 0 10px #000000;
  -webkit-box-shadow: inset 0 0 10px #000000;
  box-shadow: inset 0 0 10px #000000;
  grid-area: au;
}


.kitty{
  max-width: 10em;
  height: auto;
}

.takki{
  background-color: violet;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 15px;
}

.takki:hover{
  background-color: skyblue;
  border: none;
  color: navy;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 15px;
}

@media (max-width:20em){
  body{
      display: grid;
      grid-template-columns: 1fr;
      grid-template-areas: 
      "s"
      "hi"
      "lor"
  }

  input{
    visibility: visible;
  }

  form input{
    visibility: visible;
  }
  
  label{
    visibility: visible;
  }

  label,
  .dalkar ul {
    border-radius: 6px;
    background: pink;
  }
  label {
    color: white;
    cursor: pointer;
    display: inline-block;
    font-size: 30px;
    padding: 5px 9px;
    transition: all .15s ease;
    margin: 1em;
  }
  label:hover {
    color: plum;
  }
  input:checked + label {
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.15);
    color: #9799a7;
  }
  .stuff {
    max-height: 0;
    overflow: hidden;
    transition: all .15s ease;
  }
  
  input:checked ~ .stuff {
    max-height: 500px;
  }
  .dalkar ul {
    list-style: none;
    margin: 8px 0 0 0;
    padding: 0;
    width: 100px;
  }
  .dalkar li {
    margin-right: 2em;
    background: pink;
  }
  .dalkar li:last-child {
    border-bottom: 0;
  }
  .stuff a {
    color: white;
    display: block;
    padding: 6px 12px;
    text-decoration: none;
    
  }
  .stuff a:hover {
    color: plum;
  }

}

  @media (max-width:48em){
    body{
      display: grid;
      grid-template-columns: 1fr;
      grid-template-areas: 
      "s"
      "hi"
      "lor"
    }

    input{
      visibility:hidden;
    }

    form input{
      visibility: visible;
    }
    
    label{
      visibility: visible;
    }
  
    label,
    .dalkar ul {
      border: 1px solid white;
      border-radius: 6px;
      background: pink;
    }
    label {
      color: white;
      cursor: pointer;
      display: inline-block;
      font-size: 30px;
      padding: 5px 9px;
      transition: all .15s ease;
      margin: 1em;
    }
    label:hover {
      color: plum;
    }
    input:checked + label {
      box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.15);
      color: #9799a7;
    }
    .stuff {
      max-height: 0;
      overflow: hidden;
      transition: all .15s ease;
    }
    input:checked ~ .stuff {
      max-height: 500px;
    }
    .dalkar ul {
      list-style: none;
      margin: 8px 0 0 0;
      padding: 0;
      width: 100px;
    }
    .dalkar li {
      border-bottom: 1px solid white;
      margin-right: 2em;
      background: pink;
    }
    .dalkar li:last-child {
      border-bottom: 0;
    }
    .stuff a {
      color: white;
      display: block;
      padding: 6px 12px;
      text-decoration: none;
      
    }
    .stuff a:hover {
      color: plum;
    }
  }
.spin {
  animation: spin 1s infinite alternate ease-in-out;
}
@keyframes spin {
  from {
    transform:rotate(-25.5deg);
  }
  to {
      transform:rotate(25.5deg);
  }
}

table {
  border-collapse: separate;
  border-spacing: 0;
  color: #4a4a4d;
  font: 14px/1.4 "Helvetica Neue", Helvetica, Arial, sans-serif;
  background: white;
  margin: 2em;
}
th,
td {
  padding: 10px 15px;
  vertical-align: middle;
}
thead {
  background: #395870;
  color: #fff;
}
th:first-child {
  text-align: left;
}
tbody tr:nth-child(even) {
  background: #f0f0f2;
}
td {
  border-bottom: 1px solid #cecfd5;
  border-right: 1px solid #cecfd5;
}
td:first-child {
  border-left: 1px solid #cecfd5;
}
.book-title {
  color: #395870;
  display: block;
}
.item-stock,
.item-qty {
  text-align: center;
}
.item-price {
  text-align: right;
}
.item-multiple {
  display: block;
}
tfoot {
  text-align: right;
}
tfoot tr:last-child {
  background: #f0f0f2;
}

form input{
  visibility: visible;
}

.register{
  padding: 3em;
}

input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=tel], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}
input[type=date], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit] {
  background-color: #f0ccf0;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #e4aee4;
}