@import url('https://fonts.googleapis.com/css?family=Krub|Open+Sans+Condensed:300');
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');


body{
    background: darkslateblue;
}

a{
    text-decoration: none;
}

a:visited{
    color:white;
}

a:hover{
    color: pink;
}

a:active{
    color: white;
}

.header{
    max-width: 60em;
    margin: 0 auto;
}

.fyrirsogn{

    color: white;
    font-family: 'Krub';
}

.titil{
    text-align: end;
    color: white;
}

.titil a{
    color: white;
}

.verkefni41{
    color: plum;
}

.midja{
    background: linear-gradient(pink, steelblue);
    text-align: center;
}

.meginmal{
    max-width: 60em;
    margin: 0 auto;

    font-family: source sans pro;
    padding: 1em;
}

.meginmal h1{
    color: darkslateblue;
    text-align: center;
    font-family: 'Krub';

}

.meginmal blockquote{
    background: rgba(255, 255, 255, 0.5);
}

.footer{
    max-width: 60em;
    margin: 0 auto;
    color: white;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: 
    "nav nav nav"
}

li a{
    color: white;
}

.footer dt{
    color:plum;
}

.gjg{
    max-width: 60em;
    margin: 0 auto;
    color: white;
}